
@{
    ViewBag.Title = "Página Inicial";  // O título da página que foi definido no controlador
}

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>Bem-vindo ao nosso sistema de gestão de fechaduras!</h1>

    <p>Informações: @ViewBag.Info</p>  <!-- Exibe a mensagem dinâmica passada pelo controlador -->
    <!-- Exemplo de botão para acionar a abertura da porta -->
</body>
</html>
